/* 기본 스타일 초기화 */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* 헤더 스타일 */
header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* 메인 섹션 스타일 */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

section {
    margin-bottom: 30px;
}

h1, h2 {
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.project {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
}

.project a:hover {
    text-decoration: underline;
}

/* 푸터 스타일 */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}
